$color: rgba(0, 0, 0, 0.87);
$backgraund-color: #F8F8F8;
$primiry-color: #F4E041;
$secondary-color: #00BDD3;
$text--color: #fff;
$btn--hover: #FFE302;
$btn--disebled: #B4B4B4;
$disable--text: #7E7E7E;