.conteiner__hero {
    max-width: 360px;
    padding-top: 40px;
    padding-bottom: 71px;
    @extend %display;
    flex-direction: column;
    background-image: url(/imges/mobjpg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width:767px) and (max-width:1023px) {
        max-width: 768px;
        padding-top: 89px;
        padding-bottom: 88px;
        background-image: url(/imges/tabJpg.jpg);

    }

    @media screen and (min-width:1024px) and (max-width:1169px) {
        max-width: 1024px;
        padding-top: 164px;
        padding-bottom: 163px;
        background-image: url(/imges/desktop.jpg);
    }

    @media screen and (min-width:1170px) {
        max-width: 1170px;
        background-image: url(/imges/deskTop1170.jpg);
    }

    p {
        color: $text--color;
        text-align: center;
        margin-top: 21px;
        margin-bottom: 32px;
        vertical-align: top;

        @media screen and (min-width:767px) {
            width: 380px;

        }
    }
}







.hero__text {
    color: $text--color;
    text-align: center;

    @media screen and (min-width:767px) {
        width: 380px;

    }
}